/* Reset Style */
* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

/* Common Style */

.blue-btn {
    background-color: #1D4ED8;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

/* Navbar Style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #575757;
    font-size: 14px;
}

/* Hero Section Style */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.5)),
        url("./images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 85vh;

    display: grid;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
    color: white;

    display: grid;
    gap: 20px;
    
}

.hero-content h1 {
    font-size: 70px;
    font-weight: 700;
}

.hero-content h1 em {
    font-style: italic;
}

.hero-content p {
    font-size: 22px;
    max-width: 800px;
    font-weight: 200;
    margin-bottom: 200px;
}

.hero-content .blue-btn {
    padding: 25px 62px;
    width: 30%;
    margin: 0 auto;
    font-size: 18px;
    
    
}

/* Speakers Section */
.speakers {
    padding: 80px 8%;
}

.speakers h2 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 50px;
}

.speaker-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.speaker-card {
    border: 1px solid #E5E7EB;
    border-radius: 10px;
   
}

.speaker-card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.speaker-info {
    padding: 18px;
}

.field {
    color: #2563EB;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
}

.speaker-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.designation  {
    font-size: 14px;
    color: #575757;
}


/* Pricing Section */

.pricing {
    padding: 80px 8%;
}

.pricing-title {
    text-align: center;
    margin-bottom: 50px;
}

.pricing-title h2 {
    font-size: 48px;
    margin-bottom: 12px;
}

.pricing-title p {
    color: #575757;
}

.pricing-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.pricing-card {
    border: 1px solid #575757;
    border-radius: 12px;
    padding: 30px;
}

.plan {
    color: #575757;
    font-size: 14px;
    font-weight: 600;
}
.pricing-card h2 {
    font-size: 60px;
    margin-top: 10px;
}

.price-info {
    color: #888888;
    margin-bottom: 25px;
}

.pricing-card hr {
    margin-bottom: 25px;
    

}

.pricing-card ul {
    padding-left: 20px;
    margin-bottom: 30px;
}

.pricing-card ul li {
    margin-bottom: 15px;
}

.pricing-card button {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
}

.middle {
    background-color: #0D1B2A;
    color: white;
}
.middle .plan {
    color :#93C5FD;
}

.left button {
    background-color: #ffffff;
    color :#2563EB;
    border: 2px solid #2563EB;
    font-weight: 700;
    
}

.right{
    background-color: #F8F9FB;
}
